* {
  margin: 0;
  padding: 0;
  font-family: 'firacode';
  box-sizing: border-box;
}

:root {
  --biru: rgb(36, 76, 197);
}

@font-face {
  font-family: 'firacode';
  src: url(font/firacode.ttf);
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-profile {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 500px;
  height: px;
}

.container-profile p {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.profile {
  margin-bottom: 20px;
  background-image: linear-gradient(red, blue);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 5px white, 0 0 0 10px blue;
  display: flex;
}

.profile img {
  width: 200px;
  transition: 0.5s;
}

.container-link {
  margin: 28px 0 40px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 5px rgb(0, 0, 0), 0 0 0 4px var(--biru);
}

.container-link .link-ku {
  margin-bottom: -10px;
  height: 60px;
  width: 240px;
  display: flex;
  background-color: var(--biru);
  box-shadow: 0 0 3px 3px black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  animation: animasi 2s forwards;
}

a {
  color: white;
  text-decoration: none;
}

/* animasi & transisi*/
.link-ku:hover {
  background-color: rgb(37, 36, 36);
  transform: scale(0.98);
  box-shadow: none;
  text-decoration: underline #ededed;
}

@keyframes animasi {
  20% {
    margin-top: 0;
  }
  50% {
    margin-bottom: 14px;
  }

  100% {
    margin-bottom: 14px;
  }
}

/* profil */
.profile:hover img {
  transform: scale(1.9);
  cursor: pointer;
}
